<h1>
    Conversion day<span *ngIf="option!=null"> - {{ option.name }}</span>
</h1>

<ff-select-option  *ngIf="step=='init'" (optionSelected)="onOptionSelected($event)"></ff-select-option>

<ff-liquidation-admin *ngIf="step=='liquidate'" [option]="option" (liquidated)="onLiquidated($event)"></ff-liquidation-admin>

<ff-exit-admin *ngIf="step=='exit'" [option]="option" (exited)="onExited($event)"></ff-exit-admin>

<ff-transfers-admin *ngIf="step=='transfer'" (done)="onTransferred($event)"></ff-transfers-admin>

<ff-enter-admin *ngIf="step=='enter'" [option]="option" (entered)="onEntered($event)"></ff-enter-admin>