<div class="mat-elevation-z8">
    <h2>{{ transfer.name }} ({{ transfer.charity }})</h2>
    <h2 (click)="totalAmount()">{{ transfer.currency }} {{ transfer.amount }} </h2>
    <form>
        <mat-form-field>
            <mat-label>Timestamp</mat-label> 
            <input matNativeControl name="timestamp" [(formControl)]="timestamp" />
            <mat-error *ngIf="formGroup.get('timestamp').errors"> {{ formGroup.get('timestamp').errors?.message }} </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field>
            <mat-label>Actual amount</mat-label>
            <input matNativeControl name="amount" [(formControl)]="amount" />
            <mat-error *ngIf="formGroup.get('amount').errors"> {{ formGroup.get('amount').errors?.message }} </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field>
            <mat-label>Transaction reference</mat-label>
            <input matNativeControl name="transactionRef" [(formControl)]="transactionRef" />
            <mat-error *ngIf="formGroup.get('transactionRef').errors"> {{ formGroup.get('transactionRef').errors?.message }} </mat-error>
        </mat-form-field>
        <br/>
        <mat-checkbox [checked]="hasExchange" (change)="setHasExchange($event.checked)">Exchange?</mat-checkbox>
        <div *ngIf="hasExchange">
            <br />
            <mat-form-field>
                <mat-label>Exchange currency</mat-label>
                <input matNativeControl name="exchangedCurrency" [(formControl)]="exchangedCurrency" />
                <mat-error *ngIf="formGroup.get('exchangedCurrency').errors"> {{ formGroup.get('exchangedCurrency').errors?.message }} </mat-error>
            </mat-form-field>
            <br />
            <mat-form-field>
                <mat-label>Exchange amount</mat-label>
                <input matNativeControl name="exchangedAmount" [(formControl)]="exchangedAmount" />
                <mat-error *ngIf="formGroup.get('exchangedAmount').errors"> {{ formGroup.get('exchangedAmount').errors?.message }} </mat-error>
            </mat-form-field>
            <br />
            <mat-form-field>
                <mat-label>Exchange reference</mat-label>
                <input matNativeControl name="exchangeRef" [(formControl)]="exchangeRef" />
                <mat-error *ngIf="formGroup.get('exchangeRef').errors"> {{ formGroup.get('exchangeRef').errors?.message }} </mat-error>
            </mat-form-field>
        </div>
        <br />
        <button [disabled]="!enabled" (click)="doTransfer()"><span class="inline-icon material-icons">repeat</span> Transfer</button>
    </form>
</div>
<br/>
