<h1>Future Fund Admin Module</h1>
<p>Welcome to the Future Fund's administration module.</p>
<p>All the application's functions can be accessed by using the buttons in the navigation bar at the top of this document.</p>
<p>This module could not have been built without the following open source components:</p>
<ul>
    <li><a href="https://get.asp.net">ASP.Net Core 7.0</a></li>
    <li><a href="https://angular.io">Angular 16</a></li>
    <li><a href="https://github.com/benjamin-hodgson/Pidgin">Pidgin parser 3</a></li>
    <li><a href="https://github.com/joost-morsink/DataConvert">DataConvert 1.0</a></li>
</ul>

