
<div *ngIf="!showAddForm">
    <button><span class="inline-icon material-icons" (click)="clickAddForm()">add</span></button>
</div>
<div *ngIf="showAddForm">
    <form>
        <mat-form-field>
            <mat-label>Code</mat-label>
            <input matNativeControl name="code" [formControl]="code"/>
            <mat-error *ngIf="formGroup.get('code').errors"> {{ formGroup.get('code').errors?.message }} </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matNativeControl name="name" [(formControl)]="name" />
            <mat-error *ngIf="formGroup.get('name').errors"> {{ formGroup.get('name').errors?.message }} </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Currency</mat-label>
            <input matNativeControl name="currency" [(formControl)]="currency" />
            <mat-error *ngIf="formGroup.get('currency').errors"> {{ formGroup.get('currency').errors?.message }} </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Reinvestment fraction</mat-label>
            <input matNativeControl name="reinvestment_fraction" [(formControl)]="reinvestment_fraction" />
            <mat-error *ngIf="formGroup.get('reinvestment_fraction').errors"> {{ formGroup.get('reinvestment_fraction').errors?.message }} </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Future fund fraction</mat-label>
            <input matNativeControl name="futureFund_fraction" [(formControl)]="futureFund_fraction" />
            <mat-error *ngIf="formGroup.get('futureFund_fraction').errors"> {{ formGroup.get('futureFund_fraction').errors?.message }} </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Charity fraction</mat-label>
            <input matNativeControl name="charity_fraction" [(formControl)]="charity_fraction" />
            <mat-error *ngIf="formGroup.get('charity_fraction').errors"> {{ formGroup.get('charity_fraction').errors?.message }} </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Bad year fraction</mat-label>
            <input matNativeControl name="bad_year_fraction" [(formControl)]="bad_year_fraction" />
            <mat-error *ngIf="formGroup.get('bad_year_fraction').errors"> {{ formGroup.get('bad_year_fraction').errors?.message }} </mat-error>
        </mat-form-field>
        <button *ngIf="!adding" (click)="addOption()"><span class="inline-icon material-icons">save</span> Save</button>
        <button *ngIf="adding"><span class="inline-icon material-icons">save</span>Saving...</button>
    </form>
</div>
