<div>
    <table>
        <tbody>
            <tr>
                <th>Processed:</th>
                <td>{{ stats?.processed }}</td>
            </tr>
            <tr>
                <th>Last processed:</th>
                <td>{{ stats?.lastProcessed }}</td>
            </tr>
            <tr>
                <th>Unprocessed:</th>
                <td>{{ stats?.unprocessed }}</td>
            </tr>
            <tr>
                <th>First unprocessed:</th>
                <td>{{ stats?.firstUnprocessed }}</td>
            </tr>
        </tbody>
    </table>
</div>
