<h1>Events</h1>
<div class="section mat-elevation-z4">
    <h2>Event store</h2>
    <div>
        <ff-event-stats [stats]="stats"></ff-event-stats>
    </div>
    <div>
        <button (click)="audit()" [disabled]="!(enabled && stats.unprocessed == 0)">
            <span class="inline-icon material-icons">playlist_add_check</span> Audit
        </button>&nbsp;
      <button (click)="export()" [disabled]="!(enabled)">
        <span class="inline-icon material-icons">ios_share</span> Export
      </button>&nbsp;
    </div>
    <ff-import-events></ff-import-events>
    <ff-event-list></ff-event-list>
</div>
