<h1>Events</h1>
<div class="section mat-elevation-z4">
    <h2>Unimported files in store</h2>
    <p *ngIf="remote == null">Fetching remote status...</p>
    <div *ngIf="remote != null">
        <p *ngIf="!remote.hasRemote">Not working with a remote event store!</p>
        <p *ngIf="remote.hasRemote">
            Current branch is
            <span *ngIf="remote.ahead > 0"><strong>{{ remote.ahead }}</strong> ahead</span>
            <span *ngIf="remote.ahead > 0 && remote.behind > 0">and</span>
            <span *ngIf="remote.behind > 0"><strong>{{ remote.behind }} </strong> behind.</span>
            <span *ngIf="remote.ahead == 0 && remote.behind == 0">up to date with remote.</span>
        </p>
        <button (click)="push()" *ngIf="remote.ahead > 0 && remote.behind == 0">Push</button>
        <button (click)="pull()" *ngIf="remote.behind > 0 && remote.ahead == 0">Pull</button>
    </div>
    <div>
        <ff-event-unimported [unimported]="unimported"></ff-event-unimported>
    </div>
    <div>
        <button (click)="import()" [disabled]="!enabled">
            <span class="inline-icon material-icons">input</span> Import all
        </button>
    </div>
</div>
<div class="section mat-elevation-z4">
    <h2>Database</h2>
    <div>
        <ff-event-stats [stats]="stats"></ff-event-stats>
    </div>
    <div>
        <button (click)="process()" [disabled]="!enabled">
            <span class="inline-icon material-icons">save</span> Process
        </button>
        <button (click)="clear()" [disabled]="!(enabled && stats.processed == 0 && stats.unprocessed > 0)">
            <span class="inline-icon material-icons">delete</span> Delete all
        </button>
        <button (click)="reset()" [disabled]="!(enabled && stats.processed > 0)">
            <span class="inline-icon material-icons">backspace</span> Reset
        </button>
    </div>
</div>
<div class="section mat-elevation-z4">
    <h2>Unprocessed events</h2>
    <button (click)="fetchUnprocessed()"><span class="inline-icon material-icons"></span>Show unprocessed</button>
    <div *ngIf="unprocessedEvents != null" class="tile-container">
        <ff-event-tile *ngFor="let x of unprocessedEvents" [data]="x"></ff-event-tile>
    </div>
</div>
