<div class="mat-elevation-z8 event-tile {{getClass()}}">
<h1>{{data.type}}</h1>
<p>@ {{getDate()}} </p>
  <p *ngIf="data.type == 'META_NEW_OPTION' || data.type == 'META_NEW_CHARITY'"><strong>{{data.name}}</strong></p>
<div *ngIf="data.type == 'META_NEW_OPTION' || data.type == 'META_UPDATE_FRACTIONS'">
    <p><strong>Fractions:</strong> {{data.reinvestment_fraction}} / {{data.charity_fraction}} / {{data.futureFund_fraction}} </p>
    <p><strong>Bad year fraction:</strong> {{data.bad_year_fraction}}</p>
</div>
  <div *ngIf="data.type == 'DONA_NEW'">
    <p><strong>{{data.currency}}</strong> {{data.amount}}</p>
    <div *ngIf="data.currency != data.exchanged_currency">
      <p>Exchanged: <strong>{{data.exchanged_currency}}</strong> {{data.exchanged_amount}}</p>
    </div>
    <p><strong>for</strong> {{data.charity}}</p>
  </div>
<div *ngIf="data.type == 'CONV_ENTER' || data.type == 'CONV_LIQUIDATE' || data.type == 'CONV_EXIT' || data.type == 'CONV_INVEST' || data.type == 'PRICE_INFO'">
    <p *ngIf="data.invested_amount != null"><strong>Invested amount:</strong> {{data.invested_amount}}</p>
    <p *ngIf="data.cash_amount != null"><strong>Cash amount:</strong> {{data.cash_amount}}</p>
    <p *ngIf="data.amount != null"><strong>Exit amount:</strong> {{data.amount}}</p>
</div>
  <p *ngIf="data.type == 'CONV_TRANSFER'"><strong>{{data.currency}}</strong> {{data.amount}}</p>
  <div *ngIf="data.type == 'CONV_INFLATION'">
    <p><strong>Invested amount:</strong> {{data.invested_amount}}</p>
    <p><strong>Inflation factor:</strong> {{data.inflation_factor}}</p>
  </div>
</div>
