<h1>Audit</h1>
<a href="/audit/recent" download="recent.xlsx">Most recent</a>
<br/>
<p *ngIf="data==null">Loading...</p>
<mat-table class="mat-elevation-z8" [dataSource]="data" *ngIf="data != null">
    <ng-container matColumnDef="hashcode">
        <mat-header-cell *matHeaderCellDef>Hash</mat-header-cell>
        <mat-cell *matCellDef="let x"><a href="/audit/{{x.id}}" download="audit.xlsx">{{ x.hashcode }}</a></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>